*{
    font-family: 'Times New Roman', Times, serif;
}
/* calculator Div*/
.calculator {
    max-width: 600px;
    margin: 0px auto;
    padding: 20px;
    background-color: rgb(236, 235, 235);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 /* Buttons Numbers */
.btn-custom{
min-width: 80px;
min-height: 35px;
margin-bottom: 20px;
background-color: hsl(0, 0%, 100%);
border-radius: 5px;
}   
/* Buttons operations */
.btn-operation{
min-width: 80px;
min-height: 35px;
margin-bottom: 20px;
background-color: rgb(255, 255, 255);
border-radius: 5px;
}    
.btn-red{
    border-radius: 5px;
    min-width: 80px;
    min-height: 35px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    color: black;
}
.btn-custom:hover{
    background-color: rgb(255, 255, 255);
}
.btn-red:hover{
    background-color: rgb(255, 255, 255);
}
.btn-operation:hover{
    background-color: rgb(255, 255, 255);
}
